In [16]:
#Notebook to extract data from the datasets

import pandas as pd

#Chosing a dataset
#Run all cells and change parameters to write different files
df = pd.read_csv('..//useddata/03-24-2020.csv')
df.head(25)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-24 23:37:31,34.223334,-82.461707,1,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-24 23:37:31,30.295065,-92.414197,2,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-24 23:37:31,37.767072,-75.632346,1,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-24 23:37:31,43.452658,-116.241552,19,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-24 23:37:31,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-03-24 23:37:31,37.104598,-85.281297,0,0,0,0,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-03-24 23:37:31,40.190586,-92.600782,1,0,0,0,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-03-24 23:37:31,35.884942,-94.658593,0,0,0,0,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-03-24 23:37:31,39.874321,-104.336258,25,0,0,0,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-03-24 23:37:31,44.893336,-116.454525,0,0,0,0,"Adams, Idaho, US"
10,17001.0,Adams,Illinois,US,2020-03-24 23:37:31,39.988156,-91.187868,1,0,0,0,"Adams, Illinois, US"
11,18001.0,Adams,Indiana,US,2020-03-24 23:37:31,40.745765,-84.936714,1,0,0,0,"Adams, Indiana, US"
12,19003.0,Adams,Iowa,US,2020-03-24 23:37:31,41.029036,-94.699326,0,0,0,0,"Adams, Iowa, US"
13,28001.0,Adams,Mississippi,US,2020-03-24 23:37:31,31.476698,-91.353260,2,0,0,0,"Adams, Mississippi, US"
14,31001.0,Adams,Nebraska,US,2020-03-24 23:37:31,40.524494,-98.501178,1,0,0,0,"Adams, Nebraska, US"
15,38001.0,Adams,North Dakota,US,2020-03-24 23:37:31,46.096869,-102.528540,0,0,0,0,"Adams, North Dakota, US"
16,39001.0,Adams,Ohio,US,2020-03-24 23:37:31,38.845411,-83.471896,0,0,0,0,"Adams, Ohio, US"
17,42001.0,Adams,Pennsylvania,US,2020-03-24 23:37:31,39.871404,-77.216103,6,0,0,0,"Adams, Pennsylvania, US"
18,53001.0,Adams,Washington,US,2020-03-24 23:37:31,46.982998,-118.560173,1,0,0,0,"Adams, Washington, US"
19,55001.0,Adams,Wisconsin,US,2020-03-24 23:37:31,43.969747,-89.767828,0,0,0,0,"Adams, Wisconsin, US"
20,50001.0,Addison,Vermont,US,2020-03-24 23:37:31,44.032173,-73.141309,8,0,0,0,"Addison, Vermont, US"
21,45003.0,Aiken,South Carolina,US,2020-03-24 23:37:31,33.543380,-81.636454,2,0,0,0,"Aiken, South Carolina, US"
22,27001.0,Aitkin,Minnesota,US,2020-03-24 23:37:31,46.609620,-93.411683,0,0,0,0,"Aitkin, Minnesota, US"
23,12001.0,Alachua,Florida,US,2020-03-24 23:37:31,29.678665,-82.359282,37,0,0,0,"Alachua, Florida, US"
24,37001.0,Alamance,North Carolina,US,2020-03-24 23:37:31,36.043470,-79.399761,3,0,0,0,"Alamance, North Carolina, US"

In [14]:
info = df

#May need to remove, 'Incidence_Rate', 'Case-Fatality_Ratio' for the earliest datasets. 
drop = info.drop(columns=['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Confirmed', 'Deaths', 'Recovered', 'Incidence_Rate', 'Case-Fatality_Ratio'])
drop.head()

         Lat       Long_  Active                   Combined_Key
0  34.223334  -82.461707   136.0  Abbeville, South Carolina, US
1  30.295065  -92.414197  1050.0          Acadia, Louisiana, US
2  37.767072  -75.632346  1028.0         Accomack, Virginia, US
3  43.452658 -116.241552  3408.0                 Ada, Idaho, US
4  41.330756  -94.471059    17.0                Adair, Iowa, US

In [15]:
drop.to_csv('confirmed_08jul.csv',index=False)

In [5]:
infocheck = pd.read_csv('info_extended.csv')

In [6]:
infocheck.head()

        Lat      Long_   Active Combined_Key
0  33.93911  67.709953   5072.0  Afghanistan
1  41.15330  20.168300   6101.0      Albania
2  28.03390   1.659600  14301.0      Algeria
3  42.50630   1.521800   1261.0      Andorra
4 -11.20270  17.873900   3976.0       Angola